.st0 {
  fill:none;
  stroke:#252525;
  stroke-width:2px;
  stroke-miterlimit:10;
}

#shape1 {
	 animation: shape1 10s infinite alternate;
 }
 #shape2 {
 	 animation: shape2 10s infinite alternate;
  }
 #shape4 {
 	 animation: shape4 10s infinite alternate;
  }
 #shape5 {
 	 animation: shape5 10s infinite alternate;
  }
 #shape6 {
 	 animation: shape6 10s infinite alternate;
  }

@keyframes shape1 {
		from {
				transform: rotate(5deg);
		}
		to {
        transform: translate(0px, 20%);
		}
}

@keyframes shape2 {
   from {
       transform-origin: center;
   }
   to {
       transform: translate(5px, -20%);
   }
}

@keyframes shape4 {
   from {
       transform: rotate(10deg);
   }
   to {
       transform: translate(-55px, 25%);
   }
}

@keyframes shape5 {
   from {
       transform-origin: 100px 100px;
   }
   to {
       transform: translate(-5px, 10%);
   }
}

@keyframes shape6 {
   from {
       transform-origin: 5px 5px;
   }
   to {
       transform: translate(10px, 5%);
   }
}
